$dark_gray: #2B2E2E;
$green: #33CD99;

#footer {
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
	background: $dark_gray;
	width: 100%;
	height: 60px;
	padding: 2rem 0;
	color: white;
	text-align: center;
	border-top: 3px solid $green;
	position: fixed;
	p {
		margin: 0;
		//font-size: 1rem;
	}
}
